*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: red;
    margin: 15px;
    border-radius: 20px 50px 0px 20px;
}

nav ul li{
    display: inline-block;
    margin: 20px 7vw;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

img{
    width: 200px;
}
h2{
    text-align: center;
    background-color: rebeccapurple;
    color: white;
    margin: 20px 0px;

}

#cont{
    justify-items: center;
}

#blog{
    text-align: center;
}
