*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: red;
    border-radius: 15px 70px;
    overflow: auto;
}



.header .nav ul li{
    float: left;
    margin: 15px 70px;
    color: white;
}

li{
    list-style: none;
}



.search input{
    border: 3px solid black;
    border-radius: 50px;
    text-align: center;
}

#lan{
    border: 2px solid rgb(244, 24, 24);
    background-color: red;
    border-radius: 20px;
    color: white;
    transition-property: all;
}

#lan:hover{
    color: black;
    background-color: rgb(255, 255, 255);
    transform: scale(1.2);
    transition-duration: 0.5s;
}