*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(218, 218, 218);
}



.card{
    margin: auto;
    margin-top: 10vh;
    background-color: white;
    width: 350px;
    height: 590px;
    border-radius: 20px;  
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

img{
    width: 330px;
    padding: 10px;
    border-radius: 20px;
}

.capsul p{
    display: inline-block;
    border: 2px solid gray;
    padding: 0px 10px;
    border-radius: 20px;
    margin: 10px 20px;
   color: gray;

}
.txt h2{
    margin: 10px 20px 20px;
    font-family: sans-serif;
    font-size: 30px;
}
.txt p{
    margin: 10px 20px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    color: gray;
}

.button{
    text-align: center;
    margin-top: 30px;
}

button{
    border: none;
    background-color: rgb(187, 236, 255);
    padding: 10px 20px;
    border-radius: 30px;
    color: rgb(65, 109, 255);
    font-weight: 600;
}