*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif ;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(image/back-image.png);
    background-position: center;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.logo{
    width: 150px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 15px;
}

nav div a{
    text-decoration: none;
    color: black;
    margin: 0px 10px;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    border-radius: 15px 0px 15px 15px;
}

.content{
    margin: 100px;
    max-width: 500px;
   
}

.container div h2{
    font-size: 50px;
    font-weight: 900;
}

.container div p{
    font-size: medium;
    margin: 15px 0px;
}

.pic{
    position: absolute;
    width: 70vh;
    bottom: 0;
    right: 0;
    margin-right: 120px;
}
