*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;}

.header{
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.black{
    background-color: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.nav{
    display: flex;;
    align-items: center;
    width: 80vw;
    height: 15vh;
    justify-content: space-between;
    margin: auto;
}

.logo{  
    width: 150px;
    height: 80px;
    margin: 20px;
    ;
}

.text{
    position: absolute;
    top: 60%;
    left: 50%;
    justify-content: center;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 60%;
}

.text h1{
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 800;
    margin: 0 100px 0 100px;
    line-height: 1.2;
}

p{
    font-size: 1.2rem;
    margin: 20px 0;
}

.email{
    padding: 10px;
    width: 40%;
    max-width: 400px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: rgba(0,0,0,0.6);
    border: 0.1px solid white;
    border-radius: 5px;
    color: white;
}

.get-started{
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}