.box{
    border: 2px solid red;
    width: 500px;
    height: 200px;
    margin: 100px;
    padding: 50px;
    box-shadow: 5px 10px 10px gray;
}

p{
    text-align: center;
    text-shadow: 15px 10px 2px red;
}

table, td, th{
    border: 2px solid black;
    border-collapse: collapse;
    width: 800px;
    text-align: center;
}

tr:hover{
    background-color: green;
    color: azure;
    font-size: larger;
}