*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-areas: 
    "div1 div1 div1"
    "div2 div3 div4"
    "div5 div5 div5";
}

#div1{
    grid-area: div1;
    background-color: bisque;
    padding: 20px;
    text-align: center;
}

#div2{
    grid-area: div2;
    background-color: aquamarine;
    width: 300px;
}

#div3{
    grid-area: div3;
    background-color: cadetblue;
}

#div4{
    grid-area: div4;
    background-color: darkolivegreen;
}

#div5{
    grid-area: div5;
    background-color: rgb(26, 90, 92);
    height: 200px;
    text-align: center;
}

#div1 ul li{
    list-style: none;
    margin: auto;
    float: left;
}

li a{
    text-decoration: none;
    color: black;
    margin-left: 150px;
}

img{
    height: 40px;
}